@charset "UTF-8";


body{
	width:900px;
	margin: 0 auto;
	border:1px solid black;
}

section{
	overflow:auto;
}

header {
	background-color:#FFCC00;
}


.division{
	width:300px;
	float:left;
	margin:30px 60px;
	padding:10px;
}

.secp{
	margin:20px 30px;
	font-family:Gerogia;
	color:red;
}



h1{
	font-weight:bold;
}

#sech{
	margin:10px 120px;
	font-family:Gerogia;
	color:red;
}

#mainnav{
	display:block;
	width:50px;
	margin:10px 130px;
}

#coffee{
	width:280px;
	height:180px;
	margin:30px 10px;
}

#barista{
	width:280px;
	height:180px;
	margin:20px;
}

footer{
	text-align:center;
	margin:20px 20px;
}

footer p{
	display:inline;
	margin-right:100px;
	font-family:Gerogia;
}

table {
	border: 1px solid black;
	border-collapse:collapse;
	width:400px;
}

td {
	text-align:center;
	border: 1px solid black;
	padding:5px;
}

figcaption{
	text-align:center;
	padding:10px
}

.fig{
	text-align:left;
	padding:10px;
}

.head{
	margin: 0 30px;
}

.menuhead{
	margin: 10px 30px;
}

.social{
	width:30px;
	height:30px;
	float:bottom;
	margin:0 0 0 10px;
}

.logo{
	margin:0 0 0 230px;
	width:200px;
	height:200px;
}

.secnav{
	margin:0px 50px 0 0;
	text-align:right;
	font-family:Gerogia;
	color:grey;
}


.menuimg{
	width:400px;
	height:250px;
}

.bevimg{
	width:400px;
	height:250px;
}

.galleryimg{
	width:250px;
	height:200px;
}

.teamimg{
	width:200px;
	height:250px;
}

#review{
	width:300px;
	height:300px;
}

.signin{
	width:150px;
	height:30px;
}

#search{
	width:150px;	
}

.bevmenu{
	margin:20px 30px;
}

.menu{
	margin:20px 30px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration:none;
}

a:link {
	color:black;
}


a:visited {
	color:red;
}


a:hover {
	color:black;
}


a:active {
	color:black;
	font-weight:bold;
}